<!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
<!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
<form name="idPaciente" action="partials/reportes.html" method="get" id="contactForm" novalidate>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Identificación del Paciente</label>
            <input type="text" class="form-control" placeholder="idPaciente" id="idPaciente" required data-validation-required-message="Por favor ingrese una Identificacación de un Paciente">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <br>
    <div id="success"></div>
    <div class="row">
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-success btn-lg">Buscar Reportes del Paciente</button>
        </div>
    </div>
</form>