<form name="nuevoReporte" method="post" ng-submit="nuevoReporte.$valid && agregarReporte.addReporte()" validate>
    <div class="row">
        <div class="col-md-6">
            <label>Actividad Física:</label>
            <input ng-model="agregarReporte.reporte.actividadFisica" type="text" class="form-control" required/>
        </div>
        <div class="col-md-6">
            <label>Alimentacion:</label>
            <input ng-model="agregarReporte.reporte.alimentacion" type="text" class="form-control" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Gravedad:</label>
            <input ng-model="agregarReporte.reporte.gravedad" type="text" class="form-control" required/>
        </div>
        <div class="col-md-6">
            <label>FechaCreacion:</label>
            <input ng-model="agregarReporte.reporte.fechaCreacion" type="text" class="form-control" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>LocalizacionDolor:</label>
            <input ng-model="agregarReporte.reporte.localizacionDolor" type="text" class="form-control" required/>
        </div>
        <div class="col-md-6">
            <label>PatronSuenio:</label>
            <input ng-model="agregarReporte.reporte.patronSuenio" type="text" class="form-control" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>MedicamentosRecientes:</label>
            <input ng-model="agregarReporte.reporte.medicamentosRecientes" type="text" class="form-control" required/>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th> <input type="submit" value="Agregar" class="btn btn-default">
                </th>

            </tr>
    </table>
</form>
